<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home"></span> Home 
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ng-href="https://wiki.jenkins-ci.org/display/JENKINS/Pipeline+Plugin">Jenkin's Pipeline Plugin</a></li>
        <li><a ng-href="https://github.com/Art-Wolf/JenkinsfileGenerator/wiki">About</a></li>
        <li><a ng-href="https://github.com/Art-Wolf/JenkinsfileGenerator/issues/new">Issue</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>
